.player {
  width: 300px;
  display: flex;
  align-items: center;
  background-color: rgba(169, 167, 167, 0.714);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
  span {
    font-size: 24px;
    margin-left: 16px;
    text-overflow: ellipsis; // Erzeugt ... bei Overflow
    white-space: nowrap; // Garantiert, dass alles in einer Zeile angezeigt wird
    overflow: hidden;
  }
  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.player-active {
  background-color: orange!important;
}




